* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ?this is header */
.firstheader {

    width: 90%;
    margin: auto;

    padding-top: 2%;
    padding-bottom: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* todotitle*/

.title {
    font-size: 200%;
    color: #2f3d7e;
}

.title span {
    border-bottom: 4px solid #ff445c;
}

/* todoNAVIGATION BAR */

.navigation {
    width: 50%;
}

/* todoUL */

.list {

    display: flex;
    justify-content: space-between;

    list-style: none;
}

/* todoLINKS */

.list li a {

    text-decoration: none;
    color: #2f3d7e;
    list-style: none;

    font-weight: bold;
}

.list a:hover {
    color: red;
}

/* todoBUTTON */

.botona {

    width: 12%;
    padding: 1%;
    border: none;
    border-radius: 10%;
    background: white;
    color: #ff445c;

    font-weight: bold;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

/* ? THIS IS MAIN */

main {
    width: 90%;
    margin: auto;
}

/* !HERO SECTION */

.hero {

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
}

/* *LEFT SIDE */

.hero-text {
    width: 45%;
}

/* todoTITLE */

.hero-text h1 {

    font-size: 400%;
    color: #2f3d7e;

    margin-bottom: 5%;
}

/* todoPARAGRAPH */

.hero-text p {

    color: gray;
    line-height: 180%;
    margin-bottom: 8%;
}

/* *BUTTONS */

.buttons {

    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* todoFIRST BUTTON */

.aboutbtn {

    text-decoration: none;
    background: #ff445c;
    color: white;
    padding: 4% 6%;
    border-radius: 2rem;
}

/* todoSECOND BUTTON */

.touchbtn {

    text-decoration: none;
    color: #2f3d7e;
   
}

/* todoimage */

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
}

/* !THIS IS SECOND SECTION */

.section-2 {

    width: 100%;

    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
}

.section-content {
    display: flex;

    gap: 30px;
    align-items: center;
}

.div-left h2 {
    font-size: 40px;
    color: #2f3d7e;
    margin-bottom: 30px;
}

/* TODOBUTTUN */

.main-btn {
    text-decoration: none;
    background-color: #ff445c;
    color: white;
    padding: 4% 6%;
    border-radius: 2rem;
}

/* TODOCARD */
.card {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .05);

}

.card h3 {
    margin: 20px 0;
    font-size: 28px;
    color: #2f3d7e;
}

.card p {
    color: #777;
    line-height: 1.8;
}

/* TODOICON */
.iconfirst {
    font-size: 40px;
    color: #2f3d7e;
    }

/* *section3 and footer */
.inpt12{
    background-color: rgb(244, 250, 254);
    border: white;
    padding: 20px;
    margin: 0px;
    border: 1px solid  white;
color: white;
width: 550px;
}
.inpt3{
background-color: rgb(244, 250, 254);
    border: white;
    padding: 20px;
    margin: 0px;
    border: 1px solid  white;
color: white;
width: 1150px;
}
footer{
    background-color: #191970;
    padding: 20px; 
    margin: 40px;
    /* width: 1000px;
    height: 400px; */
}
.lnk1{ text-align: center;
    text-decoration: none;
    margin: 20px;
    color: white;
}
.lnk{
    text-align: center;
}
.h1ftr{ 
    padding: 20px;
    text-align: center;
    color: brown;
    

}
.p1ftr{
    padding: 10px;
    color: white;
    text-align: center;
}
.icon{
    color: white;
}
.dvicon{ 
    font-size: 30px;
    display: flex;
justify-content: center;
padding: 4px;
gap: 40px;
margin: 1px;
}

.btn2{ 
   
text-align: center;
    background-color:red;
    border: white;
    padding: 20px;
    margin: 0px;
    border-radius: 50px ;
color: white;
width: 150px;
} .btn{
     display: flex;
    justify-content: center;
    
}
.t1{
    color: red;
}

.t2{
    color: blueviolet;
}
h3{
    color: white;
    text-align: center;
}